# Entornos virtuales
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env

# Sistema/editor
.DS_Store
Thumbs.db
.vscode/

# Archivos auxiliares locales
pdf_paginas/
pdf_texto.txt
